body {

font-family: 'Poppins', sans-serif;

margin: 0;

background: linear-gradient(135deg, #a8f0d0, #d2fff1);

color: #1a1a1a;

}



/* Cards */

.card {

background: white;

border-radius: 15px;

padding: 25px;

margin: 20px;

box-shadow: 0 8px 20px rgba(0,0,0,0.1);

transition: 0.3s;

}


.card:hover {

transform: translateY(-5px);

}



/* Header */

header {

text-align: center;

}



.profile-circle {

width: 100px;

height: 100px;

background: #38d9a9;

border-radius: 50%;

display: flex;

align-items: center;

justify-content: center;

font-size: 36px;

color: white;

margin: auto;

margin-bottom: 10px;

}



.tagline {

color: gray;

}



/* Layout */

.container {

display: flex;

gap: 20px;

}



/* Left / Right */

.left {

flex: 1;

}



.right {

flex: 2;

}



/* Links */

a {

color: #0ca678;

text-decoration: none;

}


a:hover {

text-decoration: underline;

}



/* Footer */

footer {

text-align: center;

padding: 20px;

color: #555;

}



/* MOBILE */

@media screen and (max-width: 600px)

{

.container {

flex-direction: column;

}

}



/* DESKTOP */

@media screen and (min-width: 601px)
{

.container {

flex-direction: row;

}

.left {

max-width: 350px;

}

.right {

flex: 1;

}

}
